.form{
    width: 250px;
    display: inline-block;
    vertical-align: top;
}
li{
    display: inline-block;
}
.stats{
    display: inline-block;
    margin-left: 100px;
}
h2{
    display: inline-block;
}
p{
    display: inline-block;
}